.ans-card-frame {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.user-image {
  display: flex;
  align-items: center;
}
.answer-user-name {
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  margin-left: 10px;
}
.name {
  font-size: 15px;
  font-weight: 700;
  margin-bottom: -20px;
}
.you {
  font-size: 15px;
  font-weight: 500;
}
.date {
  font-size: 15px;
  font-weight: 500;
}
.edit-button {
  display: flex;
  align-items: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  gap: 8px;
}
.vector-image {
  width: 20px;
  height: 20px;
  margin-bottom: 5px;
  cursor: pointer;
}
.ans-card {
  background-color: #dee7ff;
  min-width: 300px;
  max-width: 790px;
  padding: 0 10px 10px 10px;
  border-radius: 8px;
  margin-top: 15px;
  color: black;
}

.ans-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.answer-description {
  padding: 0 25px;
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
}

.ans-footer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.thumb-like-message {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
}
.likeButton {
  margin: 0 8px;
}

.input-box {
  min-width: 150px;
  margin: 0 5px;
  flex: 3;
  border-radius: 6px;
  height: 30px;
  background-color: #dee7ff;
  border: 1px solid black;
  font-family: Inter;
  justify-content: space-between;
}

.post-button {
  background-color: #f8f8f8;
  width: 70px;
  height: 32px;
  border-radius: 6px;
  border: 1px solid black;
  margin-right: 40px;
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0em;
  text-align: left;
  text-align: center;
  color: gray;
  cursor: pointer;
}
