.faButton {
  display: flex;
  align-items: center;
}

.FAbutton {
  margin: 10px;
  background-color: #F8F8F8;
  border-radius: 50%;
  padding: 15px;
  z-index: 50;
  border: none;
  cursor: pointer;
  transition: opacity 0.2s, visibility 0.2s, transform 0.2s;
}

.button-name {
  width: 100px;
  background-color: #F8F8F8;
  color: #0f0f0f;
  border-radius: 5px;
  padding: 5px;
  z-index: 50;
  transition: opacity 0.2s, visibility 0.2s, transform 0.2s;
}

.open {
  opacity: 1;
  visibility: visible;
  transform: translateY(-20px);
}

.closed {
  opacity: 0;
  visibility: hidden;
  transform: translateY(20px);
}
